.object
  .row.object-body
    .col-lg-12
      %h3 Proxima Nova:
      = build_docss do
        %span.proxima-font.two-em Main body font
        .row
          .proxima-font
            .light.col-lg-3 Light = 300
            .normal.col-lg-3 Normal = 400
            .semi-bold.col-lg-3 Semi Bold = 600
            .bold.col-lg-3 Bold = 700
      = build_docss do
        %span.museo-font.two-em Used for CTA and Headers
